<!DOCTYPE html>
<html lang="en">
<head>
    <head>{% load mailprotector_tags %}
    </head>
    <body>
        <h1>Do not change these, they are also used in tests.</h1>
        <p>
            1. only email: {% mailprotector 'only-email@example.com' %}
            <br>
            2. link text: {% mailprotector 'link-text@example.com' link_text='link-text' %}
            <br>
            3. with class: {% mailprotector 'css-class@example.com' link_text='css-class' css_class='css-class' %}
            <br>
            4. {% mailprotector_textblock "some bigger piece of plain-text@example.com plain text" css_class='plain-text' %}
            <br>
            5. {% mailprotector_textblock 'some bigger piece of <a data-not-only-white-space="disaster" href="mailto:html-text@example.com" data-test="test">html-text</a>' css_class='html-text' %}
            <br>
            6. {% mailprotector_textblock 'some bigger piece of <a data-not-only-white-space="disaster" href="mailto:html-text@example.com" data-test="test">html-text <i>with tags in link text!</i></a>' css_class='html-text' %}
            <br>
            7. with not existing protector: {% mailprotector 'only-email@example.com' link_text='css-class' protector='not_existing_what' %}
            <br>
            8. invalid protector textblock mode: {% mailprotector_textblock 'some bigger piece of text, but  <a data-not-only-white-space="disaster" href="mailto:html-text@example.com" data-test="test">html-text <i>with tags in link text!</i></a>' protector='not_existing_what' css_class='html-text' %}

        </p>
        <h1>Experimental, untested: Phone numb3rs</h1>
        <p>
            1. only phone: {% mailprotector '032 322 22 22' %}
            <br>
            2. link text: {% mailprotector '032 322 22 23' link_text='phone-link-text' %}
            <br>
            3. with class: {% mailprotector '032 322 22 24' link_text='css-class-phone' css_class='css-class-phone' %}
            <br>
            4. {% mailprotector_textblock "some bigger piece of 032 322 22 25 plain text" css_class='plain-text-phone' %}
            <br>
            5. {% mailprotector_textblock 'some bigger piece of <a data-not-only-white-space="disaster" href="tel:032 322 22 26" data-test="test">032 322 22 26 link text</a>' css_class='html-text-phone' %}
        </p>
    </body>
</html>
