include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
include PYPI.rst
include tox.ini
include requirements.txt
graft mailprotector
global-exclude *.orig *.pyc *.log *.swp local_settings.py
prune mailprotector/tests/coverage
prune mailprotector/.ropeproject
